*{
    padding: 0%;
    margin: 0%;
}

#respostaEx3{
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.446);
    position: absolute;
    display: none;
    align-items: center;
    justify-self: center;
    top: 0%;
    left: 0%;
}

#popUp{
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}