*{
    padding: 0%;
    margin: 0%;
}
:root{
    --corPrimaria: blue;
    --corSecundaria: green;
    --branco: white;
    --preto: black;
    --ativo: gray;
}
h1{
    color: var(--branco);
}
header, footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: var(--corPrimaria);
}
#tabelaExcel{
    width: 400px;
    margin: 30px;
    border-collapse: collapse;
}
th, td{
    padding: 5px;
    border: 1px solid var(--preto);
    user-select: none;
}
th{
    background-color: var(--corPrimaria);
    color: var(--branco);
}
td{
    background-color: var(--branco);
}
th:hover{
    background-color: var(--corSecundaria);
    cursor: pointer;
}
td:active{
    background-color: var(--ativo);
    color: var(--corSecundaria);
    border: solid var(--corSecundaria) 1px;
}
input{
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    transition: 1s;
    background-color: var(--branco);
}
input:focus{
    transition: 1s;
    background-color: var(--corPrimaria);
    color: var(--branco);
    border-radius: 0px;
}
th:empty{
    background-color: transparent;
    border: none;
    cursor: auto;
}
#tabelaProduto{
    width: 600px;
    margin: 30px;
    border-collapse: collapse;
}
#apenasScroll{
    width: 1px;
    height: 10px;
}
header{
    position: fixed;
    top: -1px;
}

thead{
    position: sticky;
    top: 1px;
}
main{
    padding-top: 70px;
}